@use "./typography" as *;
@use "./colors" as *;

*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: $main-font;
    height: 100%;
    background-color: #F4F4F4;
    color: $color-gray-dark;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}