@use "../../styles/global/" as *;

.button {
    background-color: $color-purple;
    border: 0.1rem solid $color-purple;
    color: #FFF;
    padding: 1.2rem 1.6rem;
    border-radius: 0.4rem;
    font-size: $label-size;
    line-height: 2rem;
    @include prefix(transition, 0.3s, webkit o);
  
    &:hover {
      background-color: #FFF;
      color: $color-purple;
      cursor: pointer;
    }
}

.outline {
    background-color: #FFF;
    color: $color-purple;

    &:hover {
        background-color: $color-purple;
        color: #FFF;
        cursor: pointer; 
    }
}

.adding {
    background-color: #FFF;
    color: $color-purple;
    font-size: $title-size;
    padding: 0;
    width: 4rem;
    height: 4rem;
    margin-top: 0.4rem;

    &:hover {
        background-color: $color-purple;
        color: #FFF;
        cursor: pointer; 
    }
}