@use "../../styles/global/" as *;

.textareaContainer {
    display: flex;
    flex-direction: column;
    font-size: $label-size;

    .label {
        margin-bottom: 0.8rem;
        width: fit-content;
    }
    
    .textarea {
        resize: vertical;
        border: 0.1rem solid rgba(0, 0, 0, 0.16);
        border-radius: 0.4rem;
        padding: 1.2rem;
        height: 8.4rem;
        font-size: $label-size;

        &:focus {
            outline: 0.2rem solid $color-purple; 
        }
    }

    .infoContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.5rem;
        font-size: 1.2rem;
        line-height: 1.6rem;

        .errorContainer {
            .errorText {
                color: #ED4D59;
            }
        }

        .textareaLength {
            min-width: 5rem;
            text-align: end;
        }
    }
}