@use "../../styles/global/" as *;

.inputContainer {
    @include display-flex();
    @include flex-direction-column();
    padding-top: $default-paddding;
    font-size: $label-size;
    width: 100%;

    .label {
        margin-bottom: 0.8rem;
        @include width-fit-content();
    }

    .input {
        background-color: #FFF;
        border: 0.1rem solid rgba(0, 0, 0, 0.16);
        border-radius: 0.4rem;
        padding: 1.2rem;
        max-width: 30rem;
        width: 100%;
        height: 4.4rem;
        font-size: $label-size;

        &:focus {
            outline: 0.2rem solid $color-purple;
        }
    }

    .errorContainer {
        margin-top: 0.5rem;

        .errorText {
            color: #ED4D59;
            font-size: 1.2rem;
            line-height: 1.6rem;
        }
    }

    .backgroundGray {
        max-width: 40rem;
        background-color: rgba(0, 0, 0, 0.04);;
    }

    .removeIconContainer {
        position: absolute;
        margin-left: 32rem;
        margin-top: 1rem;

        .removeButton {
            border: none;
            background-color: #FFF;

            &:hover {
                cursor: pointer;
            }
        }

        .icon {
            width: 2rem;
        }
    }
}