@use "../../../styles/global/" as *;

.formContainer {
    font-size: $label-size;
}

.advantages {
    display: flex;
    flex-direction: column;
}

.advantagesTitle {
    font-size: $label-size;
}

.checkboxGroup {
    padding: 1rem 0 2rem;
}