@use "../../styles/global/" as *;

.contact {
    @include display-flex();
    @include align-items(flex-end);
    margin-right: 1.7rem;

    .folderIcon {
        height: 1.6rem;
        margin-right: 0.5rem;
    }

    .link {
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: $color-purple;

        &:hover {
            color: $color-gray-dark;
        }
    }

    /* 421px / 16px = 26.3125em */
    @media only screen and (max-width: 26.3125em) {
        margin-bottom: 0.5rem;
    }
}