@use "../../styles/global/" as *;

.home {
    max-width: 90rem;
    width: 90%;
    height: 70.4rem;
    background-color: #FFF;
    border-radius: 1.2rem 1.2rem 0 0;
    margin: 2.4rem auto 0;
    padding: $default-paddding;

    .profile {
        padding-bottom: $default-paddding;
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.08);
        @include display-flex();
        @include align-items(center);

        .avatar {
            min-width: 8rem;
            min-height: 8rem;
            margin-right: 2rem;
            border-radius: 10rem;
            background-color: #D5E4F7;
            @include display-flex();
            @include align-items(center);
            @include justify-content(center);

            .avatarTitle {
                color: #212830;
                font-size: 4rem;
            }
        }

        .name {
            font-size: $title-size;
            font-weight: bold;
            margin-bottom: 0.5rem;
            line-height: 2.6rem;
        }

        .links {
            @include display-flex();
            @include prefix(flex-wrap, wrap, ms);
        }
    }

    .form {
        @include display-flex();
        @include flex-direction-column();
        @include justify-content(center);
        @include align-items(start);

        .buttonStart {
            margin-top: 4.8rem;
            
            /* 380px / 16px = 23.75em */
            @media only screen and (max-width: 23.75em) {
                width: 100%;
            }
        }
    }
}