@use "../../styles/global/" as *;

.container {
    font-size: $label-size;
    @include display-flex();
    @include align-items(center);
    margin-top: 0.1rem;

    .label {
        padding-left: 1rem;
    }
}