@use "../../styles/global/" as *;

.notificationModalContainer {
    background-color: #FFF;
    border-radius: 1.2rem;
    width: 100%;
    max-width: 46rem;
    padding: 3.2rem;
    box-sizing: border-box;
    @include display-flex();
    @include justify-content(center);
    @include align-items(center);

    .success {
        width: 46rem;
        gap: 5rem;
        @include display-flex();
        @include justify-content(center);
        @include align-items(center);
        @include flex-direction-column();
        
        .successHeader {
            @include display-flex();
            @include justify-content(center);
            @include align-items(center);
            text-align: center;
            font-size: 1.8rem;
            font-weight: bold;
        }

        /* 460px / 16px = 28.75em */
        @media only screen and (max-width: 28.75em) {
            width: 20rem;
        }

        /* 260px / 16px = 16.25em */
        @media only screen and (max-width: 16.25em) {
            width: 15rem;
        }
    }

    .error {
        width: 46rem;
        gap: 5rem;
        @include display-flex();
        @include justify-content(center);
        @include align-items(center);
        @include flex-direction-column();
        
        .errorHeader {
            width: 100%;
            @include display-flex();
            @include justify-content(space-between);
            @include align-items(center);

            .errorTitle {
                font-size: 2rem;
            }

            .headerCancel {
                img {
                    width: 2.8rem;
                    height: 2.8rem;
                }

                &:hover {
                    cursor: pointer;
                    @include prefix(filter, invert(100%), webkit);
                }
            }
        }

        .errorFooter {
            width: 100%;
            @include display-flex();
            @include justify-content(end);
        }

        /* 460px / 16px = 28.75em */
        @media only screen and (max-width: 28.75em) {
            width: 20rem;
        }

        /* 260px / 16px = 16.25em */
        @media only screen and (max-width: 16.25em) {
            width: 15rem;
        }
    }
}

.notificationModalImage {
    width: 8rem;
    height: 8rem;
    border-radius: 10rem;
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);

    img {
        width: 3.8rem;
        height: 3.8rem;
    }
}

.successImage {
    background-color: rgba(5, 174, 113, 0.15);
}

.errorImage {
    background-color: rgba(232, 78, 88, 0.15);
}