@use "../../styles/global/" as *;

.notificationModalContainer {
    background-color: #FFF;
    border-radius: 1.2rem;
    width: 100%;
    max-width: 46rem;
    padding: 3.2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    .success {
        width: 46rem;
        gap: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        .successHeader {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 1.8rem;
            font-weight: bold;
        }

        /* 460px / 16px = 28.75em */
        @media only screen and (max-width: 28.75em) {
            width: 20rem;
        }

        /* 260px / 16px = 16.25em */
        @media only screen and (max-width: 16.25em) {
            width: 15rem;
        }
    }

    .error {
        width: 46rem;
        gap: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        .errorHeader {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .errorTitle {
                font-size: 2rem;
            }

            .headerCancel {

                .icon {
                    width: 2.8rem;
                    height: 2.8rem;
                }

                &:hover {
                    cursor: pointer;
                    filter: invert(100%);
                }
            }
        }

        .errorFooter {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

        /* 460px / 16px = 28.75em */
        @media only screen and (max-width: 28.75em) {
            width: 20rem;
        }

        /* 260px / 16px = 16.25em */
        @media only screen and (max-width: 16.25em) {
            width: 15rem;
        }
    }
}

.notificationModalImage {
    width: 8rem;
    height: 8rem;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .icon {
        width: 3.8rem;
        height: 3.8rem;
    }
}

.successImage {
    background-color: rgba(5, 174, 113, 0.15);
}

.errorImage {
    background-color: rgba(232, 78, 88, 0.15);
}